.title {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto; /* 가운데 정렬 */
}

.form-group {
  display: flex;
  flex-direction: column; /* label을 input 위로 */
  margin-bottom: 16px;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button#login {
  padding: 10px;
  border: none;
  background-color: #8e9aff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

button#signup {
  display: block;          
  margin: 20px auto 0;     /* 가로 중앙 정렬 */
  background: none;        
  border: none;              
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;         
  transition: color 0.2s ease;
}